<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/about.css">
    <link href="https://fonts.cdnfonts.com/css/alien-encounters" rel="stylesheet">
    <title>About Runner's High</title>
</head>

<body>
    <nav>
        <a href="/shoes">Home</a>
        <a href="/shoes/new">Add a Shoe</a>
        <a href="/shoes/about">About</a>
    </nav>

    <h1>About Runner's High</h1>

    <section id = "img-container">

        <img id = "marathon" src="https://lh3.googleusercontent.com/6RdL_2TqDdK2uSnn0Orc8AyvOEC7iCPRV7Sh6i-tOmJvWUscZM8C9ke6FxQwXl4q2oDrgVX0L5AMaOySAcrFaJnVJMXTphcx7ZxJK3h8SaTwyQ6TDAuD7rGGQxMMMWSoUrJ9OivtvA=w2400" alt="">

    </section>

    <p id = "about-text">
         Our founder, Andy Terwilliger, believes in Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur officiis enim quae maxime temporibus accusantium magni, eveniet corrupti odit totam provident excepturi in voluptas reprehenderit mollitia culpa asperiores sit et! 
        <br> <br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti recusandae, qui magni unde error ab? Qui praesentium blanditiis dignissimos eligendi fuga est aliquid eaque libero pariatur, non odit nesciunt suscipit? 
        <br> <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam commodi deleniti laborum ratione vitae voluptatem quo ab velit id! A, laboriosam? Vel temporibus voluptatum eligendi unde cum molestiae alias quaerat! 
    </p>
</body>

</html>