<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.cdnfonts.com/css/alien-encounters" rel="stylesheet">
    <script src="/js/index.js"></script>
    <title>Index</title>
</head>

<body>
    <div id ="nav-container">
        <nav id ="nav-bar">
            <a id = "home-nav" class = "nav-bar-items" href="/shoes">Home</a>
            <a id = "new-nav" class = "nav-bar-items" href="/shoes/new">Add a Shoe</a>
            <a id = "about-nav" class = "nav-bar-items" href="/shoes/about">About</a>
            <a id = "logout-nav" class = "nav-bar-items" href="/users">Log Out</a>
        </nav>
    </div>
    <h1>Runner's High</h1>
    <h2>My Shoes</h2>

    <ul>
        <%shoes.forEach(shoe => { %>
        <li>
            <p id ="shoe-name"><%=shoe.brand%> <%=shoe.model%></p> <br>
            <a href="/shoes/<%= shoe._id %>"> <img src="<%= shoe.img %>" alt=""></a>


        </li>


        <% }) %>
    </ul>

<footer>
   <span> <a href="https://github.com/andyterwilliger"><i class="fab fa-github"></i> </a></span>



</footer>

</body>

</html>