<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Shoe</title>
</head>
<body>
    <h1>Add a Shoe</h1>
    <form action="/shoes" method="POST">
    Brand: <input type="text" name="brand" id="brand"> <br>
    Model: <input type="text" name="model" id="model"><br>
    Image: <input type="text" name="img" id="img"><br>
    Drop: <input type="number" name="drop" id="drop"><br>
    Responsiveness: <input type="number" name="responsiveness" id="responsiveness"><br>
    Price: <input type="number" name="price" id="price"><br>
    Summary: <input type="text" name="summary" id="summary"><br>
    Overall: <input type="number" name="overall" id="overall"><br>
    <input type="submit" value="Add Shoe"><br>


    
    </form>


</body>
</html>