<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/new.css">
    <link href="https://fonts.cdnfonts.com/css/alien-encounters" rel="stylesheet">
    <title>Add a Shoe</title>
</head>
<body>
    <nav>
        <a href="/shoes">Home</a>
        <a href="/shoes/new">Add a Shoe</a>
        <a href="/shoes">About</a>
    </nav>
    <h1>Add a Shoe</h1>
    <div id = "form-container">
    <form action="/shoes" method="POST"> 
    Brand: <input type="text" name="brand" id="brand"> <br> <br>
    Model: <input type="text" name="model" id="model"><br> <br>
    Image: <input type="text" name="img" id="img"><br> <br>
    Drop: <input type="number" name="drop" id="drop"><br> <br>
    Responsiveness (1-10): <input type="number" name="responsiveness" id="responsiveness"><br> <br>
    Cushion (1-10): <input type="number" name="cushion" id="cushion"><br> <br>
    Mileage: <input type="number" name="mileage" id="mileage"><br> <br>
    Price: <input type="number" name="price" id="price"><br> <br>
    Overall (1-10): <input type="number" name="overall" id="overall"><br> <br>
    </div>
    <div id = "submit-container">
    <input id ="add-button" type="submit" value="Add Shoe"><br> <br>
    </div>

    
    </form>


</body>
</html>