html { 
    background: url('https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
body{
    font-family: 'Alien Encounters', sans-serif;
    color: white;
}

a{
  color: white;
  text-decoration: none;
}
  #h1-div{
    height: 100%;
    width: 100%;  
    font-size: 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  a{
    color: white;
    text-decoration: none;
    font-size: 300%;
  }

  a:hover{
    text-shadow: 5px 5px #E500A4;
    transition: .5s;
  }

  nav{
    text-align: center;
  }

  @media screen and (max-width: 480px){
    h1{
      font-size: 75%;
    }
    a{
      font-size: 100%;
    }
  }