@font-face {
    font-family: 'Alien Encounters, sans-serif';
    src: url('https://fonts.cdnfonts.com/css/alien-encounters');
}
@font-face {
    font-family: 'alien_encounters_soliditalic';
    src: url('alien-encounters-solid-italic.woff2') format('woff2'),
         url('alien-encounters-solid-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html { 
    background: url('https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body{
    font-family: 'Alien Encounters', sans-serif;
         
     color:white ;                                     
}

html { 
    background: url('https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

nav{
    background-color:#E500A4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;

}

.sticky{
    position: fixed;
    top: 0;
    width:100%;
}

nav > a{
    text-decoration: none;
    color:white;

}

nav > a:hover{
    transition-duration: 1s;
    transform: scale(2.0);
}


h1{
    text-align: center;
}

h2{
    text-align: center;
}

ul{
    display: grid;
    grid-template-columns: 50% 50%;
    list-style: none;
    text-align: center;
}

li{
    margin: 10px;
}

#shoe-name{
    background-color: #E500A4;
    font-size: 120%;
}

img{
    width: 55%;
    box-shadow: 10px 10px #E500A4;
}

img:hover{
    transform: scale(1.2);
    transition-duration: 1s;

}

@media screen and (max-width:480px){
    ul{
        display: grid;
        grid-template-columns: 100%;
        margin-right: 11%;
    }
}