@font-face {
    font-family: 'Alien Encounters, sans-serif';
    src: url('https://fonts.cdnfonts.com/css/alien-encounters');
}

html {
    background: url('https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


nav {
    background-color: #E500A4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;

}

nav>a {
    text-decoration: none;
    color: white;

}

nav > a:hover{
    transition-duration: 1s;
    transform: scale(2.0);
}

body{
    font-family: 'Alien Encounters', sans-serif;
         
     color:white ;                                     
}


h1 {
    text-align: center;
    font-size: 500%;
}

#form-container{
   text-align: center;
   font-size: 200%;
}

#submit-container{
    text-align: center;
}

#add-button{
    background-color: #4361EE;
    font-family: 'Alien Encounters', sans-serif;
    font-size: 100%;
    padding: 2%;
}

#add-button:hover{
    box-shadow: 10px 10px   #E500A4;
    transition: .5s;
}