@font-face {
    font-family: 'Alien Encounters, sans-serif';
    src: url('https://fonts.cdnfonts.com/css/alien-encounters');
}

html {
    background: url('https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font-family: 'Alien Encounters', sans-serif;
         
     color:white ;                                     
}

nav {
    background-color: #E500A4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;

}

nav>a {
    text-decoration: none;
    color: white;

}

h1 {
    text-align: center;
}

#img-container{
    display: flex;
    justify-content: center;
}

img{
    width: 40%;
    box-shadow: 10px 10px #E500A4;
    
}

#stats-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 120%;
   
}

#form-container{
    display: flex;
    justify-content: center;
}

#delete-button{
    transform: translateX(-30%);
    font-family: 'Alien Encounters', sans-serif;
    padding: 20%;
    font-size: 100%;
    background-color: #4361EE;
    box-shadow: 10px 10px   #E500A4;
}


